        /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /* HTML5 display-role reset for older browsers */

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        @font-face {
            font-family: 'AnticDidoneRegular';
            src: url('../fonts/AnticDidone-Regular.woff2') format('woff2'), url('../fonts/AnticDidone-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'AvenirLight';
            src: url('../fonts/Avenir-Light.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'QuicksandRegular';
            src: url('../fonts/Quicksand-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        section {
            min-height: 100vh;
        }

        main {
            background-color: #707070;
        }

        header {
            background-color: #707070;
            position: fixed;
            width: 100vw;
            z-index: 999;
            display: flex;
            align-items: center;
        }

        nav {
            display: flex;
            /* align-items: center; */
            justify-content: space-between;
            width: 95%;
            margin: auto;
        }

        .menu {
            width: 60%;
        }

        .menu ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            margin: auto;
            align-items: center;
        }

        .menu a {
            color: white;
            font-family: "AvenirLight";
            font-size: 35.71px;
            text-decoration: none;
        }

        .olive {
            color: white;
            font-family: "QuicksandRegular";
            font-size: 77px;
        }

        #page1 {
            background-image: url("../img/Place Your Image Here-6.png");
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            /* background-position-y: 183px; */
            background-color: #BF964B;
            /* height: 200px; */
        }

        #page1 div {
            position: absolute;
            bottom: 20%;
            display: flex;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-between;
        }

        .book {
            color: white;
            /* font-family: "AvenirLight"; */
            font-size: 35.97px;
            background-color: #BF964B;
            border: none;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
        }

        .theitrest {
            color: white;
            font-family: "AnticDidoneRegular";
            font-size: 121.75px;
        }

        .theitrestsmall {
            font-size: 76.74px;
        }

        #page2 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #BF964B;
        }

        #page2 div {
            display: flex;
            width: 50%;
            flex-direction: column;
            margin-left: 35%;
            justify-content: space-evenly;
        }

        .aboutustitle {
            color: white;
            font-family: "AnticDidoneRegular";
            font-size: 76.96px;
            padding-top: 30%;
        }

        .aboutustext {
            color: white;
            font-family: "AvenirLight";
            font-size: 31.67px;
            width: 80%;
            padding-top: 10%;
        }

        #page3 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #707070;
        }

        .page3div {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 5%;
            flex-wrap: wrap;
        }

        .wewouldlovetitle {
            color: white;
            font-family: AnticDidone-Regular;
            font-size: 55.25px;
            width: 40vw;
            padding-top: 15%;
        }

        .wewouldlovetext {
            color: white;
            font-family: "AvenirLight";
            font-size: 31.67px;
            width: 40vw;
            padding-top: 5%;
        }

        .contactus {
            color: white;
            font-family: "AvenirLight";
            font-size: 33.38px;
            background-color: #BF964B;
            border-style: none;
            padding: 3%;
            margin-top: 5%;
        }

        #page4 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #BF964B;
        }

        #page4 h1 {
            color: white;
            font-family: AnticDidone-Regular;
            font-size: 76.96px;
            width: 100vw;
            text-align: center;
            padding-top: 10%;
        }

        #page4 p {
            color: white;
            font-family: "AvenirLight";
            font-size: 31.67px;
            text-align: center;
            padding-top: 5%;
        }

        .dishset {
            display: flex;
            /* width: 50%; */
            flex-direction: row;
            /* margin-top: 30%; */
            /* margin-left: 40%; */
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .dish {
            display: flex;
            width: auto;
            height: auto;
            flex-direction: column;
            /* margin-top: 30%; */
            /* margin-left: 40%; */
            justify-content: space-evenly;
            padding-top: 10%;
        }

        #page5 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #BF964B;
        }

        #page5 h1 {
            color: white;
            font-family: AnticDidone-Regular;
            font-size: 93.63px;
            padding-top: 10%;
            padding-left: 10%;
        }

        #page5 p {
            color: white;
            font-family: "AvenirLight";
            font-size: 43.58px;
            padding-left: 10%;
        }

        .discount {
            color: #736C4D;
            font-family: "AvenirLight";
            font-size: 134.22px;
            background-color: white;
            border: none;
            padding: 7px;
            /* display: flex; */
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            margin-left: 10%;
            margin-top: 10%;
        }

        #page6 {
            background-image: url("../img/PlaceYourImageHere-1.png");
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            height: 100vh;
            background-position: bottom;
            background-color: #707070;
        }

        #page7 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #BF964B;
        }

        #page7 h1 {
            color: white;
            font-family: "AvenirLight";
            font-size: 66.67px;
            padding-top: 20%;
            text-align: center;
        }

        #page7 p {
            color: white;
            font-family: "AvenirLight";
            font-size: 59.39px;
            padding-top: 10%;
            text-align: center;
        }

        #page8 {
            background-image: url("../img/PlaceYourImageHere.png");
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            height: 100vh;
            background-position: bottom;
            background-color: #707070;
        }

        #page8 h1 {
            color: white;
            font-family: "AvenirLight";
            font-size: 79.44px;
            text-align: center;
        }

        #page8 p {
            color: white;
            font-family: "AvenirLight";
            font-size: 27.64px;
        }

        .findus {
            width: 37vw;
            padding-top: 17%;
            padding-bottom: 30%;
            background-color: #707070;
        }

        .address {
            width: 37vw;
            padding-top: 20%;
        }

        .open {
            width: 37vw;
            padding-top: 5%;
        }

        .hours {
            width: 37vw;
            padding-top: 0%;
        }

        #page9 {
            background-size: cover;
            /* Resize the background image to cover the entire container */
            /* background-color: #ffffff; */
            background-color: #BF964B;
            margin-top: 10%;
        }

        #page9 p {
            color: white;
            font-family: "AvenirLight";
            font-size: 30.73px;
        }

        .page9text {
            width: 100vw;
            padding-top: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .page9left {
            width: 40vw;
            display: flex;
            flex-direction: column
        }

        .page9mid {
            display: flex;
            flex-direction: column;
        }

        .page9left p {
            margin-bottom: 13%;
        }

        .page9mid p {
            padding-bottom: 10%;
        }

        .page9right p {
            padding-bottom: 10%;
        }

        .page9right {
            padding-left: 5%;
            display: flex;
            flex-direction: column;
        }

        .page9head {
            font-family: "AvenirLight";
            font-size: 30.73px;
            margin-bottom: 30%;
        }

        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10%;
            margin-top: 10%;
            width: 50%;
            transform: translateX(50%);
        }

        @media screen and (max-width:750px) {
            .theitrest {
                color: black;
            }
            .theitrestsmall {
                color: black;
            }
            .wewouldlovetitle {
                color: black;
            }
            .wewouldlovetext {
                color: black;
            }
            #page1 div {
                flex-direction: column;
            }
            .dishset {
                flex-direction: column;
            }
        }